In [17]:
import numpy as np
import pandas as pd

In [18]:
df = pd.read_csv("players_stats.csv")

In [19]:
df.head()

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
0,1,Brenden Aaronson,USA,MFFW,Leeds United,Premier League,22,2000,20,19,...,0.17,2.54,0.51,0.0,0.0,0.00,4.86,0.34,1.19,22.2
1,2,Yunis Abdelhamid,MAR,DF,Reims,Ligue 1,35,1987,22,22,...,0.05,0.18,1.59,0.0,0.0,0.00,6.64,2.18,1.23,64.0
2,3,Himad Abdelli,FRA,MFFW,Angers,Ligue 1,23,1999,14,8,...,0.00,1.05,1.40,0.0,0.0,0.00,8.14,0.93,1.05,47.1
3,4,Salis Abdul Samed,GHA,MF,Lens,Ligue 1,22,2000,20,20,...,0.00,0.35,0.80,0.0,0.0,0.05,6.60,0.50,0.50,50.0
4,5,Laurent Abergel,FRA,MF,Lorient,Ligue 1,30,1993,15,15,...,0.00,0.23,2.02,0.0,0.0,0.00,6.51,0.31,0.39,44.4

In [31]:
df['Comp'].unique()

array(['Premier League', 'Ligue 1', 'Serie A', 'La Liga', 'Bundesliga'],
      dtype=object)

In [20]:
df.columns

Index(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Comp', 'Age', 'Born', 'MP',
       'Starts',
       ...
       'Off', 'Crs', 'TklW', 'PKwon', 'PKcon', 'OG', 'Recov', 'AerWon',
       'AerLost', 'AerWon%'],
      dtype='object', length=124)

In [21]:
# To count the number of missing values in each column:
missing_counts = df.isnull().sum()

# To count the number of missing values in the entire DataFrame:
total_missing = df.isnull().sum().sum()

In [22]:
total_missing

1

In [23]:
#check the column with missing data
df.isnull().sum()

Rk         0
Player     0
Nation     1
Pos        0
Squad      0
          ..
OG         0
Recov      0
AerWon     0
AerLost    0
AerWon%    0
Length: 124, dtype: int64

In [24]:
#check the row with missing data
df[df['Nation'].isnull()]

,Rk,Player,Nation,Pos,Squad,Comp,Age,Born,MP,Starts,...,Off,Crs,TklW,PKwon,PKcon,OG,Recov,AerWon,AerLost,AerWon%
1875,1876,David Ozoh,NaN,FW,Crystal Palace,Premier League,17,2005,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [25]:
#drop players with less than 10 matches played because they won't be useful
df = df[df['MP'] >= 10]

In [26]:
#check the minimum number of matches played for a player
df["MP"].min()

10

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1685 entries, 0 to 2688
Columns: 124 entries, Rk to AerWon%
dtypes: float64(112), int64(7), object(5)
memory usage: 1.6+ MB

In [28]:
# To count the number of missing values in each column:
missing_counts = df.isnull().sum()

# To count the number of missing values in the entire DataFrame:
total_missing = df.isnull().sum().sum()

In [29]:
total_missing

0

In [30]:
df.to_csv("cleaned_players_stats.csv",index=False)